<h1>Children go here</h1>
<% Children.forEach(function(child){ %>
	<h5><%= child.fname %></h5>
	<h5><%= child.lname %></h5>
	<a href="/children/<%= child.url %>/qr" target="_blank" >View and Print QR code</a>
	<a href="/children/<%= child.url %>/review">View your child's checkins</a>
<% }) %>

