<!DOCTYPE html>
<html>
<head>
	<title>Create a Child</title>
</head>
<body>
<h1>New Children will go here.</h1>
<div>
<%= id %>
<%= fname %>
<%= lname %>
<%= children %>
</div>
<div>

</div>
</body>
</html>