<% if (message.length > 0) { %>
  <div class="alert alert-danger"><%= message %></div>
<% } %>

<h4>Welcome to CheckIns, where your child and loved ones can checkin and let you know they are safe!</h4>

<p>How it works</p>
<ul>
	<li>Sign up for an account</li>
	<li>Create a unique QR code for each of your children</li>
	<li>Post that QR code at home, at Grandma's, or wherever!</li>
	<li>When your child arrives at the location, they scan the QR code with their smartphone</li>
	<li>After the QR code is scanned a webpage is pulled up where the child can CheckIn.  Their current loctation is obtained automatically!</li>
	<li>You can then review these checkins via the parent portal</li>
</ul>
<a href="/signup" class="btn btn-primary">Signup</a>