<% if (message.length > 0) { %>
  <div class="alert alert-danger"><%= message %></div>
<% } %>

<h4>Welcome to CheckIns, where your child and loved ones can checkin and let you know they are safe!</h4>