.childlist {
	display: inline-block;
}
.space {
	margin-top: 5px;
	margin-bottom: 10px;
}

.border {
	border-style: solid;
	border-width: 2px;
	border-radius: 6px;
	padding: 8px 10px 8px 10px;
	margin-bottom: 8px;
}